@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Reggae One', cursive;
    box-sizing: border-box;
}

#banner {
    background: linear-gradient(rgba(0, 0, 0, 1), #0000), url(../Images/Lading-Jungle-1yoal-desurmont.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.Homepage-Texts {
    text-align: center;
    color: #fff;
    padding-top: 180px;
    transition-duration: 3s;
}
.container {
    max-width: 200px;
    position: fixed;
    bottom: 0;
    left: 0;
}

.Homepage-Texts h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 120px;
}

.banner-text {
    text-align: center;
    color: #fff;
    transition-duration: 3s;
}

.Homepage-Texts p {
    font-family: 'Sacramento', cursive;
    font-size: 40px;
}

.Homepage-Texts h3 {
    color: rgb(156, 114, 6);
    font-size: 25px;
}

.Homepage-Texts h2 {
    margin-top: 20px;
    color: rgb(156, 114, 6);
    font-size: 80px;
    font-family: 'Reggae One', cursive;
}

.Homepage-Texts p {
    font-family: 'Sacramento', cursive;
    font-size: 40px 0px;
    font-style: italic;
    color: #fff;
}

.homePage-button {
    text-align: center;
    margin: 40px;
}

.homePage-button a {
    font-family: 'Kaushan Script', cursive;
    width: 200px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 20px;
    font-size: 20px;
    color: #fff;
    border: 2px solid goldenrod;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
}

.homePage-button a span {
    width: 0px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: red;
    opacity: 50%;
    z-index: -1;
    transition: 0.3s;
}

.homePage-button a:hover span {
    width: 100%;
}

.homePage-button a:hover {
    color: black;
}

.homePage-button:hover{
    animation: shake 0.8s;
    animation-iteration-count: infinite;
}


@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-3deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-3deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-3deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-3deg);
    }
}

@media screen and (max-width: 770px) {
    .Homepage-Texts h1, .Homepage-Texts h2 {
        flex-basis: 100%;
        font-size: 50px;
        flex-wrap: nowrap;
    }
    .homePage p {
        font-size: 30px;
    }
}