.The_End_Text h3 {
    
    justify-items: center;
    align-items: center;
    margin-left: 700px;
    overflow: hidden;
    white-space: nowrap;
    animation: chase 6s steps(28);
    font-size: 20px;
    color:rgba(163, 123, 13, 0.753);
}

@keyframes chase{
    0%{
        width: 0ch;
    }
    100%{
        width: 28ch;
    }
}